.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(255, 255, 255), #f5f6f7);
  height: 750px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  position: relative;
  left: 25%;
  width: 30%;
  height: 30%;
  object-fit: cover;
}

.hero-content {
  height: 30%;
  width: 30%;
  font-size: 30px;
  position:relative;
  right: 16rem;
  bottom:5rem;
}

.hero-content h1{
  font-family: 'Jost', sans-serif;
  font-weight: 200;
}

.hero-content a{
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 10px;
  position: relative;
  bottom:2rem;
}

.hero-content p{
  color: #767676;
  font-size: 1rem;
  position: relative;
  bottom:2rem;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f05036;
  border-radius: 50%;
  animation: blink 1.5s infinite;
  position: relative;
  top: 30px;

}

@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.Offer{
    padding-top: 100px;
    padding-bottom: 30px;
    height: 290px;
    width: 300 px;
    display: flex;
    flex-direction: column;
}

.newstop{
  display: flex;
  height: 30px;
  width: 135px;
  font-size: 1.2rem;
  background-color: #ffde8b;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  position: relative;
  left: 22rem;
  margin:0px 0px 10px;
}

.Dealday{
  color: #0f0f0f;
  font-size: 50px;
  position:relative;
  left: 22rem;
  font-weight: 300;
  font-family: poppins, sans-serif;
}


.Offertime{
  display: flex;
  gap: 20px;
  align-items: center;
  position:relative;
  left: 22rem;
  height: 100px;
  width: 200px;
}

.Time{
  margin-top: 20px;
  height: 40px;
  width: 70px;
  color: #f05036;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 15px 14px;
  text-align: center;
  background-color: #fff;
}

.Buynow{
  height: 60px;
  width :150px;
  border: 2px solid ;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  left: 22rem;
  background-color: #f05036;
  color: #fff;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 30px;
  margin-top:20px;
}



